.icon-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #000080;
  color: white;
  border: none;
  outline: none;
}

.icon-button:active {
  background-color: #001f3f;
}

.plus-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background-image: url(./img/plus.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
